In [16]:
from pathlib import Path

In [17]:
import csv

In [18]:
file_read = Path("budget_data.csv")

In [19]:
# Initializing variables
total_month = 0
month_change = []
net_change_list = []
greatest_increase = ["", 0]
greatest_decrease = ["", 100000000000]
total_net = 0

In [20]:
# Read csv file
with open (file_read) as budget:
    
    # Reading file and name it reader
    reader = csv.reader(budget)
    
    # Read (i.e. skip) headers
    header = next(reader)
    
    # Extract first row of actual data
    first_row = next(reader)
    total_month = total_month + 1
    total_net = total_net + int(first_row[1])
    previous_net = int(first_row[1])

    # Loop through all the rows in the document
    for row in reader:
        
        # Update the total
        total_month = total_month + 1
        total_net = total_net + int(row[1])
        
        # Update net change
        net_change = int(row[1]) - previous_net
        previous_net = int(row[1])
        net_change_list = net_change_list + [net_change]
        month_change = month_change + [row[0]]
        
        # Calculate greatest increase
        if net_change > greatest_increase[1]:
            greatest_increase[0] = row[0]
            greatest_increase[1] = net_change
        
        # Calculate greatest decrease
        if net_change < greatest_decrease[1]:
            greatest_decrease[0] = row[0]
            greatest_decrease[1] = net_change
            
# Calculate net change average
monthly_average = round(sum(net_change_list)/len(net_change_list),2)

In [21]:
output_file = Path('budget_analysis.txt')

In [22]:
# Write output file
with open (output_file, "w") as txt_file:
    txt_file.write(f"Financial Analysis\n")
    txt_file.write(f"-------------------------\n")
    txt_file.write(f"Total Months: {total_month}\n")
    txt_file.write(f"Total: ${total_net}\n")
    txt_file.write(f"Average Change: ${monthly_average}\n")
    txt_file.write(f"Greatest Increase in Profits: {greatest_increase[0]} (${greatest_increase[1]})\n")
    txt_file.write(f"Greatest Decrease in Profits: {greatest_decrease[0]} (${greatest_decrease[1]})\n")

In [24]:
#import pandas as pd
#budget = pd.read_csv("budget_data.csv")
#budget

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]